{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <table>
      <tbody>
      </tbody><thead>
          <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Branches</th>
              <th>Tags</th>
          </tr>
      </thead>
      <tbody>
        {{ range .repos }}
        <tr>
          <td><a class="info" href="/repo/log/{{ .GetFullPath }}">{{ .GetFullPath }}</a></td>
          <td>{{ .User.User }}</td>
          <td>
            {{ range .Refs }}
              <small><kbd>{{ . }}</kbd></small><br>
            {{ end }}
          </td>
          {{ if not .Tags }}
            <td><small>empty</small></td>
          {{ else }}
            <td>
              {{ range .Tags }}
                <small><kbd>{{ . }}</kbd></small><br>
              {{ end }}
            </td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
  </table>
</div>
