{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <div class="grid">
      <a href="/create/repo">
        <button class="btn secondary">New repo</button>
      </a>
  </div>
</div>
<div class="container">
  <table>
      <tbody>
      </tbody><thead>
          <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Created</th>
          </tr>
      </thead>
      <tbody>
        {{ range .repos }}
        <tr>
          <td><a class="info" href="/repo/log{{ .Path }}">{{ .Path }}</a></td>
          <td>{{ .User.Login }}</td>
          <td><small class="b-accent">{{ .CreatedAt | formatAsDate }}</small></td>
        </tr>
        {{ end }}
      </tbody>
  </table>
</div>
