{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <div class="grid">
      <a href="/create/user">
        <button class="btn secondary">New user</button>
      </a>
  </div>
</div>
<div class="container">
  <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Repositories</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
      {{range .users}}
          <tr>
          <td>{{ .Login }}</td>
          <td>{{ len .Repos }}</td>
          <td><small>{{ .CreatedAt | formatAsDate }}</small></td>
          </tr>
      {{end}}
    </tbody>
  </table>
  </div>
</div>