{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">

<section>
  <form action="/user" method="POST">
    <fieldset class="form-group">
      <div class="form-group">
        <label for="login">Login:</label>
        <input class="form-control" id="login" name="login" type="text" required="" minlength="5" placeholder="smolgit">
      </div>
      <div class="form-group">
        <label for="text">Password:</label>
        <input class="form-control" id="password" name="password" type="password" required="" minlength="5" placeholder="password">
      </div>
      <div class="form-group">
        <label for="textarea">SSH Pub Key:</label>
        <textarea class="form-control" id="textarea" cols="30" rows="10" name="key" required=""></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-ghost" type="submit" role="button" name="submit" id="submit" placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQ....">Submit</button>
      </div>
    </fieldset>
  </form>
</section>
</div>