{{ $title := .title }}
{{ template "layout" $title }}

<div class="c">
  <form action="/user" method="POST">
    <div class="row">
        <div class="6 col">
          Login
          <input class="card w-100" id="login" name="login" type="text" required="" minlength="5" placeholder="smolgit">
        </div>
        <div class="6 col">
          Password
          <input class="card w-100" id="password" name="password" type="password" required="" minlength="5" placeholder="password">
        </div>
    </div>
    <div class="row">
        SSH Key
        <textarea class="card w-100" name="key" placeholder="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQ...."></textarea>
        <button class="btn info">Submit</button>
    </div>
  </form>
</div>