{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <div class="grid repository-header">
    <div><samp>{{ .repo.Path | formatAsGit }}</samp></div>
    <div><a href="/repo{{ .repo.Path }}">log</a></div>
    <div><a href="/repo/files{{ .repo.Path }}">files</a></div>
    <div><a href="#">refs</a></div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <table>
      <tbody>
      </tbody>
      <thead>
          <tr>
              <th>name</th>
          </tr>
      </thead>
      <tbody>
        {{ range .files }}
        <tr>
          <td><small>{{ . }}</small></td>
        </tr>
        {{ end }}
      </tbody>
  </table>

</div>