{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <div class="header">
    <a class="btn btn-primary btn-block btn-ghost">Repositories</a>
  </div>
</div>
<div class="container">
  <table>
      <tbody>
      </tbody><thead>
          <tr>
              <th>name</th>
              <th>owner</th>
              <th>created at</th>
          </tr>
      </thead>
      <tbody>
        {{ range .repos }}
        <tr>
          <td><a href="/repo">{{ .Path }}</a></td>
          <td>{{ .User.Login }}</td>
          <td>{{ .CreatedAt | formatAsDate }}</td>
        </tr>
        {{ end }}
      </tbody>
  </table>
</div>
