{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <table>
      <caption>
          Repositories
      </caption>
      <tbody>
      </tbody><thead>
          <tr>
              <th>clone</th>
              <th>description</th>
              <th>owner</th>
              <th>last commit</th>
          </tr>
      </thead>
      <tbody>
        {{ range .repos }}
        <tr>
          <td><code>{{ .Path | formatAsGit }}</code></td>
          <td>{{ .Description }}</td>
          <td>{{ .User.Login }}</td>
          <td>{{ .CreatedAt | formatAsDate }}</td>
        </tr>
        {{ end }}
      </tbody>
  </table>
</div>
