{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>repository count</th>
            <th>created at</th>
        </tr>
    </thead>
    <tbody>
      {{range .users}}
          <tr>
          <td>{{ .ID }}</td>
          <td>{{ .Login }}</td>
          <td>{{ len .Repos }}</td>
          <td><small>{{ .CreatedAt | formatAsDate }}</small></td>
          </tr>
      {{end}}
    </tbody>
  </table>
  </div>
</div>