{{ $title := .title }}
{{ template "layout" $title }}

<main>
  <table>
      <caption>
          Users
      </caption>
      <tbody>
      </tbody><thead>
          <tr>
              <th>name</th>
              <th>repository count</th>
              <th>created at</th>
          </tr>
      </thead>
      <tbody>
        {{range .users}}
            <tr>
            <td>{{ .Login }}</td>
            <td>{{ len .Repos }}</td>
            <td>{{ .CreatedAt | formatAsDate }}</td>
            </tr>
        {{end}}
      </tbody>
  </table>
</main>
