{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  {{ template "header" .repo }}
</div>
<div class="container"><hr></div>
<div class="container">
  <table>
      <tbody>
      </tbody>
      <thead>
          <tr>
              <th>Date</th>
              <th>Message</th>
              <th>Hash</th>
              <th>Author</th>
          </tr>
      </thead>
      <tbody>
        {{ range .commits }}
        <tr>
          <td><small>{{ .Date }}</small></td>
          <td>{{ .Message }}</td>
          <td><samp>{{ .Hash }}</samp></td>
          <td><small>{{ .Author }}</small></td>
        </tr>
        {{ end }}
      </tbody>
  </table>

</div>