{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  <div class="grid repository-header">
    <div><samp>{{ .repo.Path | formatAsGit }}</samp></div>
    <div><a href="/repo/log{{ .repo.Path }}">Log</a></div>
    <div><a href="/repo/files{{ .repo.Path }}">Files</a></div>
    <div><a href="/repo/refs{{ .repo.Path }}">Refs</a></div>
  </div>
</div>
<div class="container"><hr></div>
<div class="container">
  <table>
      <tbody>
      </tbody>
      <thead>
          <tr>
              <th>Date</th>
              <th>Message</th>
              <th>Hash</th>
              <th>Author</th>
          </tr>
      </thead>
      <tbody>
        {{ range .commits }}
        <tr>
          <td><small>{{ .Date }}</small></td>
          <td>{{ .Message }}</td>
          <td><samp>{{ .Hash }}</samp></td>
          <td><small>{{ .Author }}</small></td>
        </tr>
        {{ end }}
      </tbody>
  </table>

</div>