{{ $title := .title }}
{{ template "layout" $title }}

<div class="container">
  {{ template "header" .repo }}
</div>
<div class="container"><hr></div>
<div class="container">
  <table>
      <tbody>
      </tbody>
      <thead>
          <tr>
              <th>Branch</th>
          </tr>
      </thead>
      <tbody>
        {{ range .refs }}
        <tr>
          <td><small>{{ . }}</small></td>
        </tr>
        {{ end }}
      </tbody>
  </table>
</div>
<div class="container">
  {{ if not .tags }}
    <table>
        <tbody>
        </tbody>
        <thead>
            <tr>
                <th>Tags not exist</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  {{ else }}
    <table>
        <tbody>
        </tbody>
        <thead>
            <tr>
                <th>Tag</th>
            </tr>
        </thead>
        <tbody>
          {{ range .tags }}
          <tr>
            <td><small>{{ . }}</small></td>
          </tr>
          {{ end }}
        </tbody>
    </table>
  {{ end }}
</div>