body {
    max-width: var(--w-body, 100%);
    min-width: 320px;
    padding: 2rem;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: hsl(var(--hs-static), var(--l-highest));
    color: hsl(var(--hs-static), var(--l-lowest));
    font-size: var(--f-size);
    font-family: var(--f-mono);
    line-height: var(--f-line); 
}